body {
  padding-bottom: 100px;
  background-color: #EEE;
}

#drop_area {
  position: absolute;
  right: 10px;
  bottom: -200px;

/*  color: white;*/
  padding: 20px;
  border: 2px solid black;
  width: 200px;
  margin: 0px auto;
}

a {
  color: #5CACFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#admin_buttons {
  position: absolute;
  top: 0px;
  right: 0px;

  padding: 10px 20px;
  background-color: #191919;
}

#admin_buttons h4 {
  color: #164799;
  font-size: 18px;
  font-weight: bold;

  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: 1px solid #164799;
}

#admin_buttons #toggle_autoupdate {
  position: absolute;
  bottom: -20px;
  left: 0px;
}

#flash {
  background-color: #EEE;
  color: #D8D24E;
  padding: 10px;
  position: fixed;
  top: 10px;
  left: 20px;
}

#imageView {
  background-color: white;
}