@import core

=top_box
  float: left
  +admin_box
  margin-left: 10px
  &:first-child
    margin-left: 0px

body
  padding-bottom: 100px
  background-color: #EAEAEA
  font-size: 14px

#drop_area
  position: absolute
  right: 140px
  top: 10px
  padding: 10px
  text-align: center
  border: 2px solid $c_primary_5
  color: darken($c_primary_5, 30%)
  margin: 0px auto

a
  color: #4481C0
  +hover-link

#admin_sidebar
  #admin_buttons
    position: absolute
    top: 0px
    right: 0px
    +admin_box
    padding: 10px 20px
    h4
      cursor: pointer
      color: #0B2757
      font-size: 18px
      font-weight: bold
      padding-bottom: 2px
      margin-bottom: 10px
      border-bottom: 1px solid #164799
      text-align: center
    #toggle_autoupdate
      position: absolute
      bottom: -20px
      left: 0px
  #undone_admin
    position: fixed
    cursor: pointer
    top: 0px
    right: 0px
    +discrete_links


#flash
  background-color: #EEE
  color: #D8D24E
  padding: 10px
  position: fixed
  top: 10px
  left: 20px

#imageView
  background-color: white


#top_tools
  +clearfix
  padding: 10px 5px
  #palette
    +top_box
  #level_sharing
    +top_box
    display: inline-block
    #d_clip_button
      font-size: 13px
      text-align: center
      +link_button
      padding-bottom: 1px
    #d_clip_container
      cursor: pointer
      div
        cursor: pointer
        embed
          cursor: pointer
  #level_loading
    +top_box
    #upload_to_load
      input
        width: 80px
    #drag_to_load
      padding: 3px
      a.inline_help
        cursor: help
        &:hover
          text-decoration: none
  #level_saving
    +top_box
    padding: 5px 6px 1px
  #level_name
    +top_box

#container
  position: relative
  cursor: url(../resources/palettes/default/blank.png), default

#imageView
  border: 1px solid #000

section.intro
  margin: 5px
  text-align: center
  .holder
    +help_box
    display: inline-block


#button_testing
  padding: 5px
  #button_one
    +link_button(#B3E8F8, 30px, 5px, #394D60)
    font-size: 14px
    // width: 90px
    float: left
    clear: left
    display: block
    &.hover
      +link_button(lighten(#B3E8F8, 10%), 30px, 5px, #394D60)